<div style="padding: 1rem;">
	<Rulebook v-if="model.rulebook.isOpen" :model="model.rulebook"/>

	<template v-else>
		<div class="row">
			<div class="stretch" style="margin-right: 1rem">
				<div class='tab-row' >
					<div v-for="character of model.characters" class='tab'
							:class="{ selected: model.selectedCharacter == character}"
							@click="model.selectCharacter(character)">
						<span style="margin-right: 1rem;">{{character.name}}</span>
						<span @click="model.editName(character)">
							✎
						</span>
						<span @click="model.deleteCharacter(character)">
							🗑
						</span>
					</div>
					<div class='tab' @click="model.createNewCharacter()">
						<b>+</b>
					</div>

					<div class="rulebook-link" @click="model.rulebook.open()" />
				</div>

				<Character class='tab-body' :model="model.selectedCharacter" />
			</div>

			<div style="position: fixed; right: 1rem; top: 1rem;">
				<Room v-if='model.server.room' :model='model.server.room' />
			</div>
		</div>

		<SpellList :model="model.spellList" :character="model.selectedCharacter" />
	</template>
</div>