<div style="padding: 1rem;">
	<div v-if='model.message' class='message'>{{model.server.message}}</div>

	<Room v-if='model.server.room' :model='model.server.room' class="game"
	/>

	<Rulebook v-if="model.rulebook.isOpen" :model="model.rulebook"/>

	<template v-else-if="model.characters.length > 0">
		<div class="row">
			<div class="stretch" style="margin-right: .5rem">
				<div class='tab-row' >
					<div v-for="character of model.characters" class='tab'
							:class="{ selected: model.selectedCharacter == character}"
							@click="model.selectCharacter(character)">
						<span>{{character.name}}</span>
					</div>
					<div class='tab' @click="model.createNewCharacter()">
						<b>+</b>
					</div>

					<div class="rulebook-link" @click="model.rulebook.open()" />
				</div>

				<Character class='tab-body' :model="model.selectedCharacter" />
			</div>

		</div>

		<SpellList :model="model.spellList" :character="model.selectedCharacter" />
	</template>

	<button v-else class="fancy-button" @click="model.createNewCharacter()">Create Character</button>
</div>