<div>
    <!-- <img src="assets/Octopus.png" width=250 
	style='position: fixed; top: 2rem; left: 2rem; z-index: -1;'> -->

	<div class="row">
		<div class="stretch" style="margin-right: 1rem">
			<div class='tab-row' >
				<div v-for="character of model.characters" class='tab'
						:class="{ selected: model.selectedCharacter == character}"
						@click="model.selectedCharacter = character">
					<span style="margin-right: 1rem;">{{character.name}}</span>
					<span @click="model.editName(character)">
						✎
					</span>
					<span @click="model.deleteCharacter(character)">
						🗑
					</span>
				</div>
				<div class='tab' @click="model.createNewCharacter()">
					<b>+</b>
				</div>
			</div>

			<Character class='tab-body' :model="model.selectedCharacter" />
		</div>

		<div>
			<Room v-if='model.server.room' :model='model.server.room' />
		</div>
	</div>

	<SpellList :model="model.spellList" />
</div>