<div>
	<div class="toolbar">
		<button @click="model.changeName()">✎ Rename</button>
		<button @click="model.changePortrait()">🖼️ Change Portrait</button>
		<button @click="model.delete()">🗑 Delete</button>
	</div>
    <Box label='Characteristics'>
		<table :class="{ 'box-collapsed': model.hideCharacteristics }">
			<tr>
				<td>STR</td>
				<td><number-input v-model="model.strength" @input="model.figureStats()"></td>
				<td>Body</td>
				<td>{{model.body ?? '-'}}</td>
				<td>Offense</td>
				<td>{{model.offense ?? '-'}}</td>
			</tr>
			<tr>
				<td>DEX</td>
				<td><number-input v-model="model.dexterity" @input="model.figureStats()"></td>
				<td>Will</td>
				<td>{{model.will ?? '-'}}</td>
				<td>Defense</td>
				<td>{{model.defense ?? '-'}}</td>
			</tr>
			<tr>
				<td>INT</td>
				<td><number-input v-model="model.intellect"  @input="model.figureStats()"></td>
				<td>Agility</td>
				<td>{{model.agility ?? '-'}}
				</td>
				<template v-if="model.burden!=null">
					<td>Burden</td>
					<td>{{model.burden}}</td>
				</template>
				<template v-if="model.liberty!=null">
					<td>Liberty</td>
					<td>{{model.liberty}}</td>
				</template>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Focus</td>
				<td>{{model.focus ?? '-'}}</td>
				<td v-if="model.trauma!=null">Trauma</td>
				<td v-if="model.trauma!=null">{{model.trauma}}</td>
				<td v-if="model.clarity!=null">Clarity</td>
				<td v-if="model.clarity!=null">{{model.clarity}}</td>
			</tr>
			<tr>
				<th>
					Wounds
				</th>
				<td>
					{{model.damage}}
				</td>
				<th>
					Stuns
				</th>
				<td colspan="3">
					{{model.bramage}}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div v-for="(wound, index) of model.wounds">
						<button @click="model.removeWound(index)">-</button> {{wound}}
					</div>
					<select @change="model.addWound($event.target.value), $event.target.value='+'">
						<option>+</option>
						<option v-for="damage in 99">{{damage}}</option>
					</select>
				</td>
				<td colspan="4">
					<div v-for="(stun, index) of model.stuns">
						<button @click="model.removeStun(index)">-</button> {{stun}}
					</div>
					<select @change="model.addStun($event.target.value), $event.target.value='+'">
						<option>+</option>
						<option v-for="bramage in 99">{{bramage}}</option>
					</select>
				</td>
			</tr>
		</table>
    </Box>

	<Box label="Preparations">
		<table>
			<tr>
				<td>Offensive</td>
				<td><number-input v-model="model.offPrep" @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Defensive</td>
				<td><number-input v-model="model.defPrep" @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Agility</td>
				<td><number-input v-model="model.agiPrep" @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Initiative</td>
				<td>{{model.initiative ?? '-'}}</td>
			</tr>
			<tr>
				<td colspan=2>
					<div v-if="model.isReady" class='ready-text'>
						Ready ✓
					</div>
					<button class='fancy-button' v-else-if="model.initiativeRoll" @click="model.ready()">
						Ready Up ✓
					</button>
					<button class='fancy-button' v-else @click='model.rollInitiative()'>
						Roll Initiative
					</button>
				</td>
			</tr>
		</table>
	</Box>

	<Box label="Equipment">
		<table>
			<tr>
				<td>Weapon</td>
				<td style="min-width: 7rem">
					<span>{{model.pwr ?? '-'}}</span>
				</td>
			</tr>
			<tr>
				<td>Head or Blade</td>
				<td><number-input v-model='model.head' @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Enchantment</td>
				<td><number-input v-model='model.enchantment' @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Pole Handle</td>
				<td class="checkbox-column"><number-checkbox v-model="model.poleHandle" @change="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Penetrating</td>
				<td class="checkbox-column"><number-checkbox v-model="model.penetrating" @change="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Thrown</td>
				<td class="checkbox-column"><number-checkbox v-model="model.thrown" @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Finesse</td>
				<td class="checkbox-column"><number-checkbox v-model="model.finesse" @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>Two-Handed</td>
				<td><input v-model="model.twoHanded" type="checkbox" @change="model.figureStats()"></td>
				</td>
			</tr>
			<tr>
				<td>Armor</td>
				<td><number-input v-model="model.armor" @input="model.figureStats()"></td>
			</tr>
			<tr>
				<td>
					<select v-model="model.offhandType" @change="model.figureStats()">
						<option value="Shield">Shield</option>
						<option value="Weapon">Offhand Weapon</option>
					</select>
				</td>
				<td>
					<number-input v-model="model.offhand" @input="model.figureStats()">
				</td>
			</tr>
		</table>
	</Box>

	<Box label="Skills">
		<table>
			<tr>
				<td>Experience</td>
				<td>{{model.experience ?? '-'}}</td>
			</tr>
			<tr>
				<td>Acuity</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.acuityLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.acuityLvl2" @change="model.figureStats()"> </td>
				<td>{{model.acuity ?? '-'}}</td>
			</tr>
			<tr>
				<td>Empath</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.empathyLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.empathyLvl2" @change="model.figureStats()"> </td>
				<td>{{model.empathy ?? '-'}}</td>
			</tr>
			<tr>
				<td>Evoke</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.evokeLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.evokeLvl2" @change="model.figureStats()"> </td>
				<td>{{model.evoke ?? '-'}}</td>
			</tr>
			<tr>
				<td>Guile</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.guileLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.guileLvl2" @change="model.figureStats()"> </td>
				<td>{{model.guile ?? '-'}}</td>
			</tr>
			<tr>
				<td>Culture</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.cultureLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.cultureLvl2" @change="model.figureStats()"> </td>
				<td>{{model.culture ?? '-'}}</td>
			</tr>
			<tr>
				<td>Crafts</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.craftsLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.craftsLvl2" @change="model.figureStats()"> </td>
				<td>{{model.crafts ?? '-'}}</td>
			</tr>
			<tr>
				<td>Nature</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.natureLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.natureLvl2" @change="model.figureStats()"> </td>
				<td>{{model.nature ?? '-'}}</td>
			</tr>
			<tr>
				<td>Magery</td>
				<td>INT</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.mageryLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.mageryLvl2" @change="model.figureStats()"> </td>
				<td>{{model.magery ?? '-'}}</td>
			</tr>
			<tr>
				<td>Grace</td>
				<td>DEX</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.graceLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.graceLvl2" @change="model.figureStats()"> </td>
				<td>{{model.grace ?? '-'}}</td>
			</tr>
			<tr>
				<td>Fitness</td>
				<td>STR</td>
				<td class="checkbox-column"> <number-checkbox v-model="model.fitnessLvl1" @change="model.figureStats()"> </td>
				<td class="checkbox-column"> <number-checkbox v-model="model.fitnessLvl2" @change="model.figureStats()"> </td>
				<td>{{model.fitness ?? '-'}}</td>
			</tr>
		</table>
	</Box>

	<Box label="Portrait">
		<div style="position: relative;">
			<img style="width: 30vw" :src="model.portrait">
		</div>
	</Box>
</div>