<Box label="Spells">
	<div style="padding: .4rem;">
		<input v-model="model.spellFilter" placeholder="search spells">
		<span><input type='checkbox' v-model='model.onlyShowKnown'>Only Show Known Spells</span>
	</div>
	<table>
		<div class="spell-header">
			<div class="clickable" @click="model.sortByName()"><b>Name</b></div>
			<div class="clickable" @click="model.sortByLevel()">Level</div>
			<div>Difficulty</div>
			<div>Cost</div>
			<div>&nbsp;</div>
		</div>
		<div class="spell" v-for="spell of model.filteredSpells"
			:class="{ known: model.spellIsKnown(spell) }">
			<div class="spell-header">
				<div><b>{{spell.name}}</b></div>
				<div>   {{spell.level}} <span v-if="spell.advanced">(advanced)</span> </div>
				<div>   {{spell.difficulty}}</div>
				<div>   {{spell.cost}}</div>
				<div>   
					<button class='fancy-button' @click="model.unlearn(spell)" v-if='model.spellIsKnown(spell)'>
						🍺 Unlearn
					</button>
					<button class='fancy-button' @click="model.learn(spell)" v-else>
						🧠 Learn
					</button>
				</div>
			</div>
			<div class="spelleffect">
				{{spell.effect}}
			</div>
		</div>
	</table>

	<!-- HACK -->
	<div v-show='false'>{{model.refreshTrigger}}</div>
</Box>
<!-- TODO Only display "Advanced" if the spell is advanced and its level is equal to character's Magery. -->
<!-- TODO Add Magery filter checkbox (it won't display spells requiring a higher magery than the character has) -->
<!-- TODO Add Experience checkboxes, add the ability to learn the spells, add checkbox that filters unknown spells. -->