:root {
    --dark-color: #ca9859;
    --light-color: #f4cc8e;
}
body {
    padding: 1rem;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(hexpaper.png);
    background-size: 800px;
    font-family: Tahoma;
    user-select: none;
}

/* div, table { border: 1px solid red; }
span { border: 1px solid blue; } */

table {
    border-collapse: collapse;
}

tr.spell {
    border-bottom: 3px solid var(--dark-color);
}

tr.spell > td {
    padding: .4rem;
}

.box {
    display: inline-block;
    background: var(--light-color);
    border-radius: .2rem;
    border: 2px solid rgba(0,0,0,.4);
    box-shadow: 3px 3px 7px rgba(0,0,0,.4);
    margin: .5rem;
}

.box > div {
    padding: .4rem;
    text-align: center;
    background: var(--dark-color);
    font-weight: bold;
}

td {
    width: 1rem;
    padding: .2rem;
    vertical-align: top;
}

input[type=number] {
    width: 2rem;
}

input[type=checkbox] { 
        vertical-align: middle; 
        position: relative; 
        bottom: 1px;
}

button.initiative-button {
    margin-top: 1rem;
}