:root {
    --dark-color: #ca9859;
    --light-color: #f4cc8e;
    --light-color-odd: #f9c677;
}

/* tr:nth-child(odd) { background:var(--light-color-odd); } */

body {
    padding: 1rem;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(hexpaper.png);
    background-size: 800px; 
    font-family: Tahoma;
    user-select: none;
}

/* div, table { border: 1px solid red; }
span { border: 1px solid blue; } */

table {
    border-collapse: collapse;
}

.help-icon::before {
  cursor: pointer;
  color: yellow;
  font-size: 1rem;
  text-shadow: 2px 2px 4px black,
        -1px -1px 4px blue;
  content: "?";
}
.help-icon:hover::before {
  color: black;
  text-shadow: 0px 0px 4px white,
    -1px -1px 4px white
  ;
}

.help-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    z-index: 10;
    background-color: var(--light-color);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,.7);
}

.help-content {
    flex: 1 0 0px;
    overflow-y: auto;
}

tr.spell > td {
    padding: .4rem;
}

tr.spelleffect > td {
    padding: 1rem;
    border-bottom: 3px solid var(--dark-color);
}

.row {
    display: flex;
}

.stretch {
    flex: 1 0 0px;
}

.box {
    display: inline-block;
    background: var(--light-color);
    border-radius: .2rem;
    border: 2px solid rgba(0,0,0,.4);
    box-shadow: 3px 3px 7px rgba(0,0,0,.4);
    margin-right: .5rem;
    margin-bottom: .5rem;
    vertical-align: top;
}

/* testing */
.box .box, .tab-body .box {
    border: none;
    border-radius: 11px;
    box-shadow: 3px 3px 14px #bca178;
}

.box-header {
    cursor: pointer;
    padding: .3rem;
    display: flex;
    text-align: center;
    background: var(--dark-color);
    font-weight: bold;
}

.box-header > span:first-of-type {
    margin-right: .3rem;
}

.box-collapsed {
    max-height: .2rem;
    overflow: hidden;
}

.expander-button {
  margin-left: auto;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
}
.expander-button::before {
  display: flex;
  font-size: 1rem;
  content: "▶";
  pointer-events: none;
  background: transparent;
}
.expander-button.expander-button-expanded {
  transform: rotate(90deg);
}

::-webkit-input-placeholder {
  font-size: 0.8rem;
  font-family: Segoe UI;
  font-style: italic;
  color: #ccc;
  padding-left: .5ch;
}

:-moz-placeholder {
  font-size: 0.8rem;
  font-family: Segoe UI;
  font-style: italic;
  color: #ccc;
  padding-left: .5ch;
}

::-moz-placeholder {
  font-size: 0.8rem;
  font-family: Segoe UI;
  font-style: italic;
  color: #ccc;
  padding-left: .5ch;
}

.tab-row {
    display: flex;
    padding: 0;
}

.tab {
    display: flex;
    margin-right: .5rem;
}

.tab {
    display: inline-block;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    cursor: pointer;
    background: var(--light-color);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--dark-color);
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    margin-bottom: -2px;
    z-index: 10;
}

.tab.selected {
    font-weight: bold;
    background: var(--light-color);
    color: black;
    border: 2px solid var(--dark-color);
    border-bottom: 2px solid var(--light-color);
}

.tab-body {
    border: 2px solid var(--dark-color);
    position: relative;
    padding: .6rem;
    margin-bottom: 1rem;
    background: var(--light-color);
    box-shadow: 3px 3px 7px rgba(0,0,0,.4);
}

th, td {
    padding: .2rem;
    min-width: 2rem;
    vertical-align: top;
    text-align: left;
}

td.checkbox-column {
    min-width: 0rem;
}

input[type=number] {
    width: 2rem;
}

input[type=checkbox] { 
        vertical-align: middle; 
        position: relative; 
        bottom: 1px;
}

.ready-text {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 1.1rem;
}

.fancy-button {
    background: #ECECEC;
    border-radius: .2rem;
    padding: .3rem;
    margin: .2rem;
    display: block;
    font-family: arial;
    font-weight: bold;
    color:#252525;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    border: 1px solid #a7a7a7;
    width: 145px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 6px var(--dark-color),
        0px 2px 5px rgba(0, 0, 0, 0.1), 
        0px 8px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
}
.fancy-button:hover{
    /* box-shadow: 0px 2px 1px white inset, 
        0px -2px 10px var(--dark-color), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1); */
}
.fancy-button:active{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 
        0px -2px 10px var(--dark-color), 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}