:root {
    --dark-color: #ca9859;
    --light-color: #f4cc8e;
    --text-bg: #FFF0D3;
    --complementary: #598BCA;
}

body {
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('hexpaper.png');
    background-size: 800px; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma;
    user-select: none;
    -webkit-text-size-adjust: none;
}


/* div, table { border: 1px solid red; }
span { border: 1px solid blue; } */

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.toolbar {
    margin-bottom: 1rem;
}

.rulebook-link {
    position: relative;
    margin-bottom: -1rem;
    margin-left: 2rem;
}
.rulebook-link:before {
    cursor: pointer;
    color: #598BCA;
    font-weight: bold;
    font-size: 2rem;
    content: "📚";
    position: absolute;
    top: -.5rem;
}

.rulebook-link:hover:before {
    text-shadow: 0px 0px 4px yellow,
        1px 1px 4px yellow,
        -1px -1px 4px yellow;
}

.rulebook-bg {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    width: calc(100vw - (100vw - 100%) - 2rem);
    height: calc(100vh - (100vh - 100%) - 2rem);
    z-index: 100;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--text-bg);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,.7);
}

.rulebook-content {
    flex: 1 0 0px;
    overflow: auto;
    padding: 0 1rem;
}

.rulebook-content table {
    margin: .6rem 0;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.3);
}

.rulebook-content *.float-right {
    float: right; 
    clear: right;
    margin-left: .6rem;
}

.rulebook-content td, .rulebook-content th {
    border: 1px solid rgba(0,0,0,.2);
}

.game {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 100;
}

.spell {
    position: relative;
    padding-top: .5rem;
    border-top: 3px solid var(--dark-color);
}

.spell.known {
    box-shadow: inset 0 0 10px 4px rgba(0,0,0,.4);
}

.spell-header {
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: rem;
    display: flex;
}

.spell-header > div {
    flex: 0 1 8rem;
}

.spelleffect {
    padding: 1rem;
}

.message {
    position: absolute;
    white-space: pre-wrap;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
    background: rgba(0,0,0,.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
}

.row {
    display: flex;
}

.stretch {
    flex: 1 0 0px;
}

.box {
    display: inline-block;
    background: var(--light-color);
    background: var(--text-bg);
    box-shadow: 3px 3px 7px rgba(0,0,0,.4);
    margin-right: .5rem;
    margin-bottom: .5rem;
    vertical-align: top;
    overflow: none;
}

.box .box, .tab-body .box {
    border: none;
    border-radius: .4rem;
    box-shadow: 3px 3px 14px #bca178;
}

.box-header {
    cursor: pointer;
    padding: .3rem;
    display: flex;
    text-align: center;
    background: var(--dark-color);
    font-weight: bold;
}

.box-header > span:first-of-type {
    margin-right: .3rem;
}

.box-collapsed {
    max-height: .2rem;
    overflow: hidden;
}

.box.portrait {
    border-radius: 0;
}

.expander-button {
  margin-left: auto;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
}
.expander-button::before {
  display: flex;
  font-size: 1rem;
  content: "▶";
  pointer-events: none;
  background: transparent;
}
.expander-button.expander-button-expanded {
  transform: rotate(90deg);
}

::-webkit-input-placeholder {
  font-size: 0.8rem;
  font-family: Segoe UI;
  font-style: italic;
  color: #ccc;
  padding-left: .5ch;
}

:-moz-placeholder {
  font-size: 0.8rem;
  font-family: Segoe UI;
  font-style: italic;
  color: #ccc;
  padding-left: .5ch;
}

::-moz-placeholder {
  font-size: 0.8rem;
  font-family: Segoe UI;
  font-style: italic;
  color: #ccc;
  padding-left: .5ch;
}

.tab-row {
    display: flex;
    padding: 0;
}

.tab {
    display: flex;
    margin-right: .5rem;
}

.tab {
    display: inline-block;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    cursor: pointer;
    background: var(--light-color);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--dark-color);
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    margin-bottom: -2px;
    z-index: 10;
}

.tab.selected {
    font-weight: bold;
    background: var(--light-color);
    color: black;
    border: 2px solid var(--dark-color);
    border-bottom: 2px solid var(--light-color);
}

.tab-body {
    border: 2px solid var(--dark-color);
    position: relative;
    padding: .6rem;
    margin-bottom: 1rem;
    background: var(--light-color);
    box-shadow: 3px 3px 7px rgba(0,0,0,.4);
}

th, td {
    padding: .2rem;
    min-width: 2rem;
    vertical-align: top;
    text-align: left;
}

td.checkbox-column {
    min-width: 0rem;
}

input[type=number] {
    width: 2rem;
}

input[type=checkbox] { 
        vertical-align: middle; 
        position: relative; 
        bottom: 1px;
}

.ready-text {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 1.1rem;
}

button:not(.fancy-button) {
    display: inline-block;
    border-radius: 6px;
    font-family: "Lato", sans-serif;
    padding: .2rem 10px;
    border: solid #0003;
    background: var(--dark-color);
    cursor: pointer;
    box-shadow: 2px 2px 2px #0006;
}

button:not(.fancy-button):hover {
    border: solid #fffa;
    color: #fffd;
}

.fancy-button {
    cursor: pointer;
    background: #ECECEC;
    border-radius: .2rem;
    padding: .3rem;
    margin: .2rem;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    color:#252525;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    border: 1px solid #a7a7a7;
    width: 145px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 6px var(--dark-color),
        0px 2px 5px rgba(0, 0, 0, 0.1), 
        0px 8px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
}
.fancy-button:hover{
    /* box-shadow: 0px 2px 1px white inset, 
        0px -2px 10px var(--dark-color), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1); */
}
.fancy-button:active{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 
        0px -2px 10px var(--dark-color), 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
